/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    overflow: scroll no-repeat; /* Evita barras de rolagem indesejadas */
}
p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz o vídeo cobrir toda a tela sem distorção */
    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
}

.container {
    position: relative;
    z-index: 1; /* Garante que o conteúdo fique sobre o vídeo */
    width: 80%;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header h1 {
    font-size: 3em;
    color: #0ff;
    text-shadow: 0 0 10px #0ff;
}

header p {
    font-size: 1.2em;
    color: #ff0;
    text-shadow: 0 0 10px #ff0;
}

.highlights {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 0;
}

.highlight-card {
    position: relative;
    width: 300px;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 0, 255, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.highlight-card.dj img {
    width: 100%;      /* A imagem ocupa 100% da largura do card */
    max-height: 200px;     /* A imagem ocupa 100% da altura do card */
    object-fit: contain; /* A imagem se ajusta ao espaço do card sem distorção */
    object-fit: cover;
    
}


.highlight-card img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease;
}

.highlight-card:hover img {
    opacity: 0.6;
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.highlight-card:hover .card-content {
    transform: translateY(0);
}

.card-content h2 {
    font-size: 1.5em;
    margin: 0;
    color: #0ff;
}

.card-content p {
    font-size: 1em;
    margin: 10px 0 0;
}

footer {
    padding: 30px 0;
}

.cta-button {
    background: #ff0;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;

}

.cta-button:hover {
    background: #ff6;
    transform: scale(1.1);
}
