@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Telas grandes */

@media screen and (max-width: 1024px) { 
    html, body {
        width: 100%;
        height: 100%;  
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* Remove a barra de rolagem horizontal */
    }

    .cabecalho {
        margin: 0;
        padding: 0;
        width: 100%;  
    }

    .menu {
        text-align: center;
    }

    .menu a {
        font-size: 15px;
        padding: 10px 10px 10px 10px;
        justify-content: center;
    }

    .tituloprincipal {
        font-size: 35px;
    }

    .dandroidshorizontal {
        display: none;
    }

    .dandroidsvertical {
        display: block;
        text-align: center;
    }

    .irinablokgrande {
        display: none;
    }

    .irinablokpequena {
        display: block;
        text-align: center;
    }

    h2 {
        font-size: 13px;
        padding: 10px;
    }

    main {
        margin: 0;
        width: 100%; /* Garante que o main ocupe 100% da tela */
        max-width: 100%; /* Evita que o main exceda a largura da tela */
    }

    p {
        font-size: 14px;
    
    }

    .titulodegrade {
        font-size: 30px;
    }

    .versoes-android ul {
        margin: 10px;
    }

    .videoandroid {
        padding: 10px 10px 10px 10px;
        text-align: center; /* Certifica que o vídeo está centralizado */
    }

    .videoandroid iframe {
        width: 100%; /* Garante que o vídeo ocupe 100% da largura */
        height: auto; /* Mantém a proporção correta */
    }

    .rodape {
        padding: 10px;
        font-size: 15px;
        text-align: center;
    }
}
/*Tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .dandroidshorizontal {
        display: none; /* Oculta a versão horizontal dos androids */
    }

    .dandroidsvertical {
        text-align: center;
    }

    .dandroidsvertical img {
        text-align: center;
        width: 500px; /* Define a largura da imagem */
        height: auto; /* Mantém a proporção correta */
    }

    .irinablokgrande {
        display: none; /* Oculta a versão grande de irina */
    }

    .irinablokpequena {
        display: block; /* Exibe a versão pequena de irina */
        text-align: center; /* Centraliza o conteúdo */
    }

    .irinablokpequena img {
        padding: 0px; /* Remove o espaçamento interno da imagem */
    }
}
/*Celular G */
@media screen and (min-width: 425px) and (max-width: 767px) {

    .dandroidshorizontal {
        display: none; /* Oculta a versão horizontal dos androids */
    }

    .dandroidsvertical {
        display: block; /* Exibe a versão vertical dos androids */
        text-align: center; /* Centraliza o conteúdo */
    }

    .dandroidsvertical img {
        display: block; /* Garante que as imagens sejam exibidas em bloco */
        text-align: center; /* Centraliza a imagem */
        width: 430px; /* Define a largura da imagem */
        height: auto; /* Mantém a proporção correta */
    }

    .irinablokgrande {
        display: none; /* Oculta a versão grande de irina */
    }

    .irinablokpequena {
        display: block; /* Exibe a versão pequena de irina */
        text-align: center; /* Centraliza o conteúdo */
    }

    .irinablokpequena img {
        padding: 0px; /* Remove o espaçamento interno da imagem */
    }
}

/*Celular M*/
@media screen and (min-width: 375px) and (max-width: 424px) {
    .dandroidshorizontal {
        display: none;
    }

    .dandroidsvertical {
        display: block;
        text-align: center;
    }
    .dandroidsvertical img{
        display: block;
        text-align: center;
        width: 375px;
        height: auto;
    }
    .irinablokgrande {
        display: none;
    }

    .irinablokpequena {
        display: block;
        text-align: center;
    }

    .irinablokpequena img {
        padding: 0px;
    }
}

/*Celular P*/
@media screen and (min-width: 320px) and (max-width: 373px) {
    html, body {
        width: 100%;
        height: 100%;  
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* Remove a barra de rolagem horizontal */
    }

    .cabecalho {
        margin: 0;
        padding: 0;
        width: 100%;  
    }

    .menu {
        text-align: center;
    }
    
    .menu a {
        font-size: 15px;
        padding: 0px; /* Espaçamento vertical e horizontal */
        text-decoration: none; /* Remove sublinhado dos links, caso tenha */
        margin: 0 0 10px 20px; /* Espaçamento horizontal entre os links */
    }

    .tituloprincipal {
        font-size: 35px;
    }

    .dandroidshorizontal {
        display: none;
    }

    .dandroidsvertical {
        display: block;
        text-align: center;
    }
    .dandroidsvertical img{
        display: block;
        text-align: center;
        width: 325px;
        height: auto;
    }
    .irinablokgrande {
        display: none;
    }

    .irinablokpequena {
        display: block;
        text-align: center;
    }

    .irinablokpequena img {
        padding: 0px;
    }
    h2 {
        font-size: 13px;
        padding: 10px;
    }

    main {
        margin: 0;
        width: 100%; /* Garante que o main ocupe 100% da tela */
        max-width: 100%; /* Evita que o main exceda a largura da tela */
    }

    p {
        font-size: 14px;
    
    }

    .titulodegrade {
        font-size: 30px;
    }

    .versoes-android ul {
        margin: 10px;
    }

    .videoandroid {
        padding: 10px 10px 10px 10px;
        text-align: center; /* Certifica que o vídeo está centralizado */
    }

    .videoandroid iframe {
        width: 100%; /* Garante que o vídeo ocupe 100% da largura */
        height: auto; /* Mantém a proporção correta */
    }

    .rodape {
        padding: 10px;
        font-size: 15px;
        text-align: center;
    }
}



@media screen and (max-width:730px) {
    .nav-bar{
        padding: 2% 5%;
    }

    .nav-item{
        display: none;
    }
    
    .login-button{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    
    .mobile-menu-icon button{
        background-color: transparent;
        border: 15px;
        cursor: pointer;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 2%;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 3%;
    }
    .mobile-menu .login-button{
        display: block;
        padding: 2% 3%;
    }
    .mobile-menu .login-button button{
        width: 100%;
    }
    .open{
        display: block;
    }
}