* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: auto;
}
body{
    background-image: linear-gradient(to bottom, #024554,#53736A,#6A8C69,#A8B545);
}
p{
    text-align: justify;
    color: #53736A;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 3px 10px #50694f;
    width: 600px;
    margin: auto;
    padding: 10px;
}
h1{
    color: #A8B545;
    text-shadow: 1px 1px black;
    text-align: center;
}
h2{
    color: #6A8C69;
}